.carousel-content h1 {
    color: #00A0B1;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 32px; */
    /* margin: 5px;
    margin-left: 15px; */
  }

 .carousel-content h2 {
    color: var(#363636);
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    margin: 17px;
  }

 .carousel-content p {
    color: var(--Paragraph, #767681);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* margin: 20px; */
  }